{% extends 'auth-layout.html' %}
{% load crispy_forms_tags %}


{% block auth %}

    <div class="login-form-container">
        <h1>👀 ask</h1>
        <p class="lead text-muted">Share Your Knowledge!</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-sm btn-outline-primary">Login</button>
        </form>
        <p class="mt-2">Or <a href="{% url 'django_registration_register' %}">create a new account !</a></p>

    </div>

{% endblock %}