<template>
  <div>
    <p class="text-muted">
      <strong>{{ answer.author }} </strong>&#8901; {{ answer.created_at }}
    </p>
    <p>{{ answer.body }}</p>
    <div v-if="isAnswerAuthor">
      <router-link
        class="btn btn-sm btn-outline-danger"
        :to="{ name: 'AnswerEditor', params: { id: answer.id } }"
      >
        Edit
      </router-link>
      <button @click="triggerDelete" class="btn btn-sm btn-danger">
        Delete
      </button>
    </div>
    <div v-else>
      <button class="btn btn-sm"
              @click="toggleLike"
      :class="{
        'btn-danger': userLikedAnswer,
        'btn-outline-danger': !userLikedAnswer
      }">
        <strong>like [ {{ this.likesCounter }} ]</strong>
      </button>
    </div>
  </div>
</template>

<script>
import {apiservice} from "../common/api.service";

export default {
  name: "AnswerComponent",
  props: {
    answer: {
      type: Object,
      required: true
    },
    requestUser: {
      type: String,
      required: true
    }
  },
  methods: {
    toggleLike() {
      if (this.userLikedAnswer !== true) {
        this.like();
      } else {
        this.unLike();
      }
    },
    like() {
      this.userLikedAnswer = true;
      this.likesCounter += 1;
      let endpoint = `/api/answers/${this.answer.id}/like/`;
      apiservice(endpoint, "POST");
    },
    unLike() {
      this.userLikedAnswer = false;
      this.likesCounter -= 1;
      let endpoint = `/api/answers/${this.answer.id}/like/`;
      apiservice(endpoint, "DELETE");
    },
    triggerDelete() {
      this.$emit("delete-answer", this.answer);
    }
  },
  data() {
    return {
      userLikedAnswer: this.answer.user_has_voted,
      likesCounter: this.answer.likes_count
    }
  },
  computed: {
    isAnswerAuthor() {
      return this.answer.author === this.requestUser;
    }
  }
};
</script>

<style scoped></style>
