<template>
    <nav class="navbar my-navbar navbar-expand-lg navbar-light bg-light">
        <router-link :to="{ name: 'home' }" class="navbar-brand">👀 Ask!</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link :to="{ name: 'home' }" class="nav-link">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{ name: 'question-editor' }" class="nav-link">Ask a Question</router-link>
                </li>
                <li class="nav-item">
                    <div class="logged-as">Logged as <b>{{ user }}</b> ( <a class="logout" href="/accounts/logout/">Logout</a>)</div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "navbar",
        data() {
            return {
                user: null
        }
        },
        methods: {
            setRequestUser() {
                this.user = window.localStorage.getItem("username")
            }
        },
        created() {
            this.setRequestUser()
        }
    };
</script>

<style>
    .logout {
        color: #424242;
        text-decoration: none;
    }
    .logged-as {
        font-size: 70%;
        margin-top: 12px;
        margin-left: 100px;
    }
    .nav-link {
        font-weight: normal;
        color: var(--dark) !important;
    }

    .user {
        margin-left: 2rem;
    }

    .my-navbar {
        border-bottom: 1px solid #ddd;
        background-color: var(--blue) !important;
        height: 50px;
    }


    .navbar-brand {
        font-weight: bold;
        font-size: 130%;
    }


    .navbar-brand:hover {
        color: #f5f5f5 !important;
    }
</style>
