<template>
  <div class="question-actions">
    <router-link
      class="btn btn-sm btn-outline-danger"
      :to="{ name: 'question-editor', params: { slug: this.slug } }"
    >
      Edit
    </router-link>
    <button @click="deleteQuestion" class="btn btn-sm btn-danger">
      Delete
    </button>
    <hr>
  </div>
</template>

<script>
import { apiservice } from "../common/api.service";

export default {
  name: "QuestionActions",
  props: {
    slug: {
      type: String,
      required: true
    }
  },
  methods: {
    async deleteQuestion() {
      let endpoint = `/api/questions/${this.slug}/`;
      try {
        await apiservice(endpoint, "DELETE");
        await this.$router.push("/");
      } catch (e) {
        // console.error("API DELETE: " + e);
          alert(e)
      }
    }
  }
};
</script>

<style scoped></style>
