{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
    html, body {
        height: 100%;
        font-family: "system-ui", serif;
    }

    .auth-box {
        border-radius: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 600px;
        margin: auto;

    }

    .login-form-container, .registration-form-container {
        width: 50vw;
        background-color: white;
        border-radius: 10%;
        border: lightgray 3px solid;
        padding: 80px;
        margin: 100px auto auto;
    }

    .login-form-container {
        max-width: 500px;
    }

    .registration-form-container {
        max-width: 700px;
        margin-top: -100px;
    }

    .outer-area {
        margin-top: 100px;
    }

</style>
{% endblock %}

{% block content %}
    <div class="outer-area">
        <div class="auth-box text-center">
            {% block auth %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

