<template>
  <div id="app">
    <Navbar />
    <router-view />
  </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";
import { apiservice } from "./common/api.service";

export default {
  name: "App",
  components: {
    Navbar
  },
  methods: {
    async setUserInfo() {
      const data = await apiservice("/api/user/");
      const requestUser = data["username"];
      this.user = requestUser;
      window.localStorage.setItem("username", requestUser);
    }
  },
  created() {
    this.setUserInfo();
  }
};
</script>

<style>
html,
body {
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
}
.btn:focus {
  box-shadow: none !important;
}
:root {
  --blue: #41acc9;
  --danger: #ed6a5a;
  --light: #f4f1bb;
  --yellow: #fde74c;
  --light-blue: #61e8e1;
  --dark: #424242;
}
</style>
