{% extends 'auth-layout.html' %}
{% load crispy_forms_tags %}

{% block auth %}

    <div class="registration-form-container">
        <h1>👀 ask</h1>
        <p class="lead text-muted">Share Your Knowledge!</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-sm btn-outline-primary">
                Create Account
            </button>
        </form>
        <p class="mt-2">Or <a href="{% url 'login' %}">Login</a></p>
    </div>

{% endblock %}