<template>
    <div class="container mt-2">
        <h1 class="mb-3">Edit your answer</h1>
        <form @submit.prevent="onSubmit">
            <div class="form-group">
                <label>Question</label>
                <textarea rows="3" v-model="answerBody" class="form-control">
        </textarea>
                <br/>
                <button type="submit" class="btn btn-success">Publish</button>
            </div>
        </form>
        <p v-if="error" class="muted mt-2">{{ error }}</p>
    </div>
</template>

<script>
    import {apiservice} from "../common/api.service";

    export default {
        name: "AnswerEditor",
        props: {
            id: {
                type: Number,
                required: true
            }
        },
        data() {
            return {
                answerBody: null,
                questionSlug: null,
                error: null
        }

        },
        methods: {
            onSubmit() {
                if (this.answerBody) {
                    let endpoint = `/api/answers/${this.id}/`
                    apiservice(endpoint, 'PUT', {body: this.answerBody})
                        .then(() => {
                            this.$router.push({
                                name: 'question',
                                params: {slug: this.questionSlug}
                            })
                        })
                } else {
                    this.error("Empty Answer")
                }
            }
        },
        async beforeRouteEnter(to, from, next) {
            let endpoint = `/api/answers/${to.params.id}/`;
            let data = await apiservice(endpoint)
            return next(vm => (
                vm.answerBody = data.body,
                vm.questionSlug = data.question_slug
            ));
        }
    };
</script>

<style scoped></style>