<template>
  <div class="home">
    <div class="container">
      <!--            <div class="row">-->
      <!--                <div class="col-6">-->
      <div v-for="question in questions" :key="question.pk">
        <div class="questions_card card bg-light mb-3">
          <div class="card-body">
            <router-link
              :to="{ name: 'question', params: { slug: question.slug } }"
              class="question-link"
            >
              <h4>{{ question.content }}</h4>
            </router-link>

            <div class="question_tags">
              <span class="mx-1 question_tag ">Web Development</span>
              <span class="mx-1 question_tag ">A Tag</span>
              <span class="mx-1 question_tag ">Django</span>
            </div>
          </div>
          <div class="card-footer">
            <p class="card-subtitle ">
              <span class="posted-by">Posted By:</span>
              <span class="question_author">{{ question.author }}</span>
            </p>
            <p class="card-text question_answers_count">
              Answers: {{ question.answer_count }}
              <span class=" " v-if="question.is_trending">🔥 </span>
            </p>
          </div>
        </div>
      </div>
      <p v-show="loadingQuestions">..loading...</p>
      <div v-show="next" class="questions_card card bg-light mb-3">
        <button @click="getQuestions" class="btn btn-sm btn-outline-success">
          Load More
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { apiservice } from "../common/api.service";

export default {
  name: "home",
  data() {
    return {
      questions: [],
      next: null,
      loadingQuestions: false
    };
  },
  methods: {
    getQuestions() {
      let endpoint = "api/questions/";
      if (this.next) {
        endpoint = this.next;
      }
      this.loadingQuestions = true;
      apiservice(endpoint).then(data => {
        this.questions.push(...data.results);
        this.loadingQuestions = false;
        if (data.next) {
          this.next = data.next;
        } else {
          this.next = null;
        }
      });
    }
  },
  created() {
    this.getQuestions();
    document.title = "Ask!";
  }
};
</script>

<style scoped>
.posted-by {
  color: grey;
  font-weight: lighter;
}

.card {
  border-radius: 0px;
}

.card-body {
  background-color: white;
}

.card-footer {
  background-color: #f5f5f5;
}

.question_author {
  color: var(--blue);
  font-weight: bold;
  margin-left: 5px;
}

.question_answers_count {
  font-size: 80%;
}

.questions_card {
  margin: 10px;
}

.question-link {
  color: #404040;
  font-weight: bold;
}

.question-link:hover {
  color: var(--blue);
  font-weight: bold;
  text-decoration: none;
}

.question_tag {
  font-family: "system-ui", serif;
  font-weight: normal;
  font-size: 85%;
  border-radius: 20px;
  background-color: rgba(86, 233, 171, 0.12);
  padding: 1px;
  color: rgba(0, 0, 0, 0.53);
}
</style>
