<template>
    <div class="container mt-2">
        <h1 class="mb-3">👀 Ask a question !</h1>
        <form @submit.prevent="onSubmit">
            <div class="form-group">
                <label>Question</label>
                <textarea
                        rows="3"
                        v-model="question_body"
                        class="form-control"
                        placeholder="What you want to ask ?"
                >
        </textarea>
                <br/>
                <button type="submit" class="btn btn-success">Ask!</button>
            </div>
        </form>
        <p v-if="error" class="muted mt-2">{{ error }}</p>
    </div>
</template>

<script>
    import {apiservice} from "@/common/api.service";

    export default {
        name: "QuestionEditor",
        props: {
            slug: {
                type: String,
                required: false
            }
        },
        data() {
            return {
                question_body: null,
                question_emo: null,
                error: null,
                emos: []
            };
        },
        methods: {
            onSubmit() {
                if (!this.question_body) {
                    this.error = "The question body cannot be empty";
                } else if (this.question_body.length >= 240) {
                    this.error = "Ensure you're question has no more 240 characters";
                } else {
                    let endpoint = "/api/questions/";
                    let method = "Post";
                    if (this.slug !== undefined) {
                        method = "PUT";
                        endpoint += `${this.slug}/`
                    }
                    apiservice(endpoint, method, {content: this.question_body}).then(
                        question_data => {
                            this.$router.push({
                                name: "question",
                                params: {slug: question_data.slug}
                            });
                        }
                    );
                }
            }
        },
        async beforeRouteEnter(to, from, next) {
            if (to.params.slug !== undefined) {
                let endpoint = `/api/questions/${to.params.slug}/`
                let data = await apiservice(endpoint);
                return (next(vm => (vm.question_body = data.content)))
            } else {
                return next()
            }
        },
        created() {
            document.title = "Edit question";
        }
    };
</script>

<style scoped></style>
