<template>
  <div class="single_question mt-2">
    <div class="container" style="color: darkgreen">
      <div class="card">
        <div class="card-title">
          <h1>{{ question.content }}</h1>
          <QuestionActions :slug="slug">
          </QuestionActions>
          <p class="card-subtitle ">
            Posted by: &nbsp;
            <span class="question_author">{{ question.author }}</span>
          </p>
          <p class="card-subtitle ">
            Created at: &nbsp;
            <span class="question_created_at">{{ question.created_at }}</span>
          </p>
        </div>
        <div v-if="userHasAnswered">
          <p class="already-answer">You have already answer this question.</p>
        </div>
        <div v-else-if="showForm">
          <form @submit.prevent="onSubmit" class="card">
            <div class="card-header px-3">
              Answer the Question
            </div>
            <textarea
              rows=""
              class="card-body form-control answer-area"
              v-model="newAnswerBody"
            >
            </textarea>
            <div class="card-footer px-3">
              <button class="btn btn-success btn-sm">Submit</button>
            </div>
          </form>
          <p v-if="error" class="error">{{ error }}</p>
        </div>
        <div v-else>
          <button class="btn btn-sm btn-success" @click="showForm = true">
            Answer
          </button>
        </div>
        <hr />
        <div class="card-body">
          <AnswerComponent
            v-for="answer in answers"
            :key="index"
            :requestUser="user"
            @delete-answer="deleteAnswer"
            :answer="answer.id"
          />
        </div>
        <p v-show="loadingAnswer">..loading...</p>
        <div v-show="next" class="questions_card card bg-light mb-3">
          <button @click="getAnswers" class="btn btn-sm btn-outline-success">
            Load More
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { apiservice } from "@/common/api.service";
import AnswerComponent from "@/components/Answer";
import QuestionActions from "../components/QuestionActions";

export default {
  name: "Question",
  props: {
    slug: {
      type: String,
      required: true
    }
  },
  components: {
    QuestionActions,
    AnswerComponent
  },
  data() {
    return {
      question: {},
      answers: [],
      newAnswerBody: null,
      error: null,
      userHasAnswered: false,
      showForm: false,
      loadingAnswer: false,
      next: null,
      user: null
    };
  },
  computed: {
    isQuestionAuthor() {
      return this.question.author === this.requestUser;
    }
  },
  methods: {
    getAnswers() {
      let endpoint = `/api/questions/${this.slug}/answers/`;
      if (this.next) {
        endpoint = this.next;
      }
      this.loadingAnswer = true;
      apiservice(endpoint).then(data => {
        this.loadingAnswer = false;
        if (data.next) {
          this.next = data.next;
        } else {
          this.next = null;
        }

        this.answers.push(...data.results);
      });
    },
    setPageTitle(title) {
      document.title = title;
    },
    getQuestionData() {
      let endpoint = `/api/questions/${this.slug}/`;
      apiservice(endpoint).then(data => {
        this.question = data;
        this.userHasAnswered = data.user_has_answered;
        this.setPageTitle(data.content);
      });
    },
    onSubmit() {
      if (!this.newAnswerBody) {
        this.error = "The answer body cannot be empty";
      } else if (this.answers.length >= 240) {
        this.error = "Ensure you're answer has no more 240 characters";
      } else {
        let endpoint = `/api/questions/${this.slug}/answer/`;
        let method = "POST";
        apiservice(endpoint, method, { body: this.newAnswerBody }).then(
          data => {
            this.answers.unshift(data);
          }
        );
        this.newAnswerBody = null;
        this.showForm = false;
        this.userHasAnswered = true;
        if (this.error) {
          this.error = null;
        }
      }
    },
    async deleteAnswer(answer) {
      let endpoint = `/api/answers/${answer.id}/`;
      try {
        await apiservice(endpoint, "DELETE");
        this.$delete(this.answers, this.answers.indexOf(answer));
        this.userHasAnswered = false;
      } catch (e) {
        console.log(e);
      }
    },
    setRequestUser() {
      this.user = window.localStorage.getItem("username");
    }
  },
  created() {
    this.getQuestionData();
    this.getAnswers();
    this.setRequestUser();
  }
};
</script>

<style scoped>
.answer-area {
  border: none;
  font-size: 15px;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.already-answer {
  font-size: 75%;
}

.error {
  color: red;
}

h1 {
  font-size: 200%;
}

.question_author {
  color: #55e4a7;
  font-weight: bold;
}

.question_created_at,
.posted-by {
  color: grey;
  font-weight: lighter;
}
</style>
